.dotnetcli
.DS_Store
.idea
.metadata
.settings
.vs
_Chutzpah*
_ReSharper*
_reports
_UpgradeReport_Files/
artifacts/
Backup*/
[bB]in
BenchmarkDotNet.Artifacts/
BuildOutput
coverage.*
node_modules
obj
out
packages
project.lock.json
src/OrderOrchestrator/coverage
TestResults
UpgradeLog*.htm
UpgradeLog*.XML
PublishProfiles
*.diagsession
*.DotSettings
*.GhostDoc.xml
*.log
*.nupkg
*.opensdf
*.psess
*.[Pp]ublish.xml
*.publishproj
*.pubxml
*.sdf
*.sln.cache
*.sln.docstates
*.sln.ide
*.suo
*.user
*.vsp
*.vspx